body{
    background-color: indigo;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    text-align: center; 
    color:#7fffd4; 
}
h2{
    color:green; 
}
.about{
    color:brown; 
}
.skills{
    color:chocolate; 

}
.projects{
    color:turquoise; 
}
.contact{
    color:moccasin; 
}