body{
    background-color: indigo;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    text-align: center; 
    color:#7fffd4; 
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(197, 13, 13); /* pick a color */
border-radius: 25%;
}
.skills{
    color:chocolate; 

}