body{
    background-color: indigo;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    text-align: center; 
    color:#7fffd4; 
}
h2{
    color:green; 
}
.about{
    color:brown; 
}
.project img{
    width: 800px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}
.skills{
    color:chocolate; 

}
.projects{
    color:turquoise; 
}
.contact{
    color:moccasin; 
}