/* Structure */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 13, 164); 
    background:url("images/phily.jpeg");
    background-size:cover;
    background-position: center;
    margin:0;
    padding:0; 

}

/* Main Content */
#content{
    background: beige; 
    width: 70%; 
    margin: auto; 
    padding: 1%; 
    background: rgba(255, 255, 255, 0.679); 
    border: 2px solid #333; 
    border-radius: 10px; 
}

/* Links */
a{
    text-decoration: none;
    color:darkgoldenrod; 
    
}



